.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.form-buttons button {
  padding: 8px 16px;
  border-radius: 0.5rem;
  border: none;
}
.form-buttons button:hover {
  opacity: 0.5;
}
.form-buttons i {
  padding-right: 0.5rem;
}

.main-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.save {
  background-color: #4cc9f0;
}

@media (max-width: 800px) {
  .form-buttons {
    font-size: 0.75rem;
  }
}
