.personal-info {
  padding: 1rem;
  background-color: #14213d;
  color: #ffffff;
}

.full-name {
  text-align: center;
  margin-top: 0;
}

.contact-info {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  margin: auto;
  width: fit-content;
}

.contact-info i {
  padding-right: 0.5rem;
}

@media (max-width: 800px) {
  .contact-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
}
